version: '3.8'

services:
  typesense:
    image: typesense/typesense:0.25.1
    container_name: servicio_busqueda_typesense
    ports:
      - "8108:8108"
    volumes:
      - ./typesense-data:/data
    environment:
      - TYPESENSE_DATA_DIR=/data
      - TYPESENSE_API_KEY=xyz
      - TYPESENSE_ENABLE_CORS=true
    command: '--data-dir /data --api-key=xyz --enable-cors'
    restart: unless-stopped
    networks:
      - search_network

networks:
  search_network:
    driver: bridge
